@font-face {
  font-family: HarryFont;
  src: url("harry_p/harryp__-webfont.woff2") format("woff2"),
    url("harry_p/harryp__-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* ------------ mobile first ------------- */

.hide {
  display: none;
}
body {
  margin: 0%;
  background-image: url(background/bookshelf.webp);
}
header {
  height: 50vw;
  width: 100%;
  /* background-image: url(background/books.webp); */
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 4vw;
}

.h1 {
  display: grid;
  grid-row: 2/3;
  text-align: center;
  color: white;
  font-family: HarryFont;
  font-size: 30px;
  text-shadow: 10px 10px 20px black;
}

main {
  background-image: url(background/parchment.webp);
  margin: 2rem;
  border-radius: 5px;
  box-shadow: 20px -20px 30px rgba(109, 108, 108, 0.575);
}

#background_box {
  display: grid;
  place-content: center;
}

button {
  list-style: none;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 8px;
  background-color: #321403;
  cursor: pointer;
  color: white;
}

#container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  text-align: center;
  padding: 2rem;
}

#loopview_article {
  border: 3px dotted black;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 1rem;
  width: 15rem;
  /* place-content: center; */
}
#loopview_article .fullname {
  display: flex;
  justify-self: center;
  gap: 8px;
  font-family: HarryFont;
  font-size: 1.7rem;
}

.filtersort {
  text-align: center;
}

#sorting {
  display: inline-block;
  margin: 1rem;
}
#sorting button {
  margin: 5px;
}
.filtrering {
  display: inline-block;
  margin: 1rem;
}
.filtrering button {
  margin: 5px;
}

#searchBar {
  padding: 13px;
  width: 243px;
  background-color: #321403;
  color: white;
  border: none;
  text-align: center;
  border-radius: 20px;
}
#searchwrapper {
  display: grid;
  place-content: center;
  padding: 3rem;
}

#loopview_article #more_info {
  max-width: 50px;
}
#loopview_article #expel_student {
  max-width: 80px;
}
#loopview_article button {
  max-width: 50px;
  margin: 0.5rem;
}

#popup {
  position: fixed;
  background-color: rgba(175, 175, 175, 0.849);
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  overflow: scroll;
  text-align: center;
}
#article_popup {
  display: grid;
  place-content: center;
  max-width: 15rem;
  height: auto;
  margin: 2rem auto;
  padding: 5px;
  border-radius: 25px;
  background-color: white;
}

#popup_fullname {
  display: flex;
  gap: 3px;
}
#popup button {
  margin: 1rem;
}
#warning_section {
  position: fixed;
  background-color: rgba(175, 175, 175, 0.849);
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  overflow: scroll;
  text-align: center;
}

#warning_remove_other {
  display: grid;
  place-content: center;
  max-width: 15rem;
  height: auto;
  margin: 2rem auto;
  padding: 5px;
  border-radius: 25px;
  background-color: white;
}
#warning_remove_other button {
  margin: 0.5rem;
}

#club_warning_section {
  position: fixed;
  background-color: rgba(175, 175, 175, 0.849);
  width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
  overflow: scroll;
  text-align: center;
}

#warning_club {
  display: grid;
  place-content: center;
  max-width: 15rem;
  height: auto;
  margin: 2rem auto;
  padding: 5px;
  border-radius: 25px;
  background-color: white;
}
#close_club_warning button {
  margin: 0.5rem;
}

/* -------------- ipad---------------- */

@media (min-width: 600px) {
  header {
    height: 30vw;
  }
  .h1 {
    font-size: 40px;
  }
  #container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  #loopview_article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
@media (min-width: 900px) {
  .h1 {
    font-size: 60px;
  }
  #container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }

  #loopview_article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  #article_popup {
    max-width: 20rem;
    height: auto;
  }
}
